@namespace CC.Blazor.Dx
@using System.Collections.Concurrent
@using System.Data
@using System.Threading


<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 9000">
    @foreach (var msg in _messages.Keys.OrderBy(x => x.ShowSort))
    {
        <div class="toast show @(msg.ToastTypeCss)" role="alert" aria-live="assertive" aria-atomic="true" style="margin-top:3px;margin-bottom:3px">
            <div class="toast-header">
                <i class="@msg.IconCssClass" style="margin-right:5px"></i>
                <strong class="me-auto">@msg.Title</strong>
                <small>@msg.Subtitle</small>

                @if (msg.ShowCloseButton)
                {
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" @onclick="e=>OnClose(msg)">
                    </button>
                }
            </div>
            <div class="toast-body">
                @msg.Message
            </div>
        </div>

    }
</div>